@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Lakki+Reddy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /* /---------------------/
    /                        /                        
    /    STANDARD COLORS     /
    /                        /
    /------------------------/ */

    --standard-darkGrey: #28201D;
    --standard-yellow: #E8B932;
    --standard-blue: #252979;
    --standard-golden: #d4af37;
    --standard-green: #5d6d3d;
    --stardard-ligthBlue: #626B73;
    --stardard-ligthPink: #D9859C;
    --stardard-white:#FFFF;

}

/* /-------------------------/
    /                        /                        
    /    CONTAINER/DIV       /
    /                        /
    /------------------------/ */



/* /-------------------------/
    /                        /                        
    /          IMG           /
    /                        /
    /------------------------/ */


/* /-------------------------/
    /                        /                        
    /          TEXT          /
    /                        /
    /------------------------/ */



/* /-------------------------/
    /                        /                        
    /         INPUTS         /
    /                        /
    /------------------------/ */


/* /-------------------------/
    /                        /                        
    /         BTNS           /
    /                        /
    /------------------------/ */

   
/* /-------------------------/
    /                        /                        
    /         LINK           /
    /                        /
    /------------------------/ */

    

/* /-------------------------/
    /                        /                        
    /      ELEMENTS          /
    /                        /
    /------------------------/ */
    
